/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/firebase/*.json
/storage/firebase/afilidrop-33bcf-firebase-adminsdk-fbsvc-98c8be85ce.json
