bg-secondary {
    background-color: #2c3e50 !important;
}

.copyright {
    background-color: #1a252f;
}

.bg-primary {
    background-color: rgb(24, 24, 8) !important;
}

.bg-warning {
    background-color: yellow;
}


nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.precoColor {
    color: #1abc9c;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.conteudo-principal {
    padding: 50px;
}

.botao-afiliarse {
    background-color: orange;
    color: black;
}

.texto-afiliase {
    color: black;
    font-size: 16px;
}

.logo-width{
    width: 150px;
}

/* .logo-width:hover{
    width: 250px;
} */
