bg-secondary {
    background-color: #2c3e50 !important;
}

.copyright {
    background-color: #1a252f;
}

.bg-primary {
    background-color: rgb(24, 24, 8) !important;
}

.bg-warning {
    background-color: yellow;
}

.margin-negative{
    margin: -0.2;
}

.margin-negative-maior{
    margin: -18px;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.precoColor {
    color: #1abc9c;
}

.negrito{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tamanho-fotos{
    width: 64px;
    height: 64px;
    padding: 2px;
    border: 1px solid #000;
}

.conteudo-principal {
    padding: 50px;
}

.botao-afiliarse {
    background-color: orange;
    color: black;
}

.texto-afiliase {
    color: black;
    font-size: 16px;
}

.logo-width{
    width: 150px;
}

/* .logo-width:hover{
    width: 250px;
} */
